@import '@/global.variable.less';

.event-content {
  display: flex;
  padding: @basePadding;
  box-sizing: border-box;
  width: 100%;
  .table-area {
    width: calc(100% - 210px);
    padding: 16px;
    .event-tags {
      .ant-tag {
        cursor: pointer;
      }
    }
    .dantd-data-table-header-loadbtn-left {
      margin-right: 0px;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
  .table-operate-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left {
      flex: 1;
      display: flex;
      padding-right: 10px;
      .search-input {
        max-width: 300px;
        margin-left: 10px;
      }
    }
    .interval-btn {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
      margin-right: 10px;
      border-left: 0px;
      border-color: #d9d9d9;
      &:hover {
        border-color: #d9d9d9;
      }
    }
  }
}
