.renderer-container {
  height: 100%;
  background-color: #fff;
  &:hover {
    .renderer-header-desc {
      .anticon-info-circle,
      .anticon-link {
        display: inline;
      }
    }
    .renderer-header-loading {
      .renderer-header-more {
        display: inline;
      }
    }
  }
  .ant-tooltip-inner {
    min-height: 26px !important;
  }
}
.renderer-header {
  padding: 0;
  height: 34px;
  line-height: 34px;
  display: flex;
  border: 0 none !important;
  background-color: unset;
}
.renderer-header-desc {
  width: 34px;
  text-align: center;
  cursor: pointer;
  position: relative;
  .anticon-info-circle,
  .anticon-link {
    display: none;
  }
}
.renderer-header-content {
  text-align: center;
  flex: 1;
  width: calc(100% - 68px);
  .renderer-header-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.renderer-header-loading {
  width: 34px;
  text-align: center;
  .renderer-header-more {
    display: none;
  }
}

.renderer-body {
  .unknown-type {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
