.job-task-table {
  .ant-table-small > .ant-table-content > .ant-table-body {
    margin: 0;
  }
  .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td:first-child {
    font-weight: 500;
    text-align: right;
  }
  pre {
    margin-bottom: 0;
    border-radius: 4px;
    code {
      padding: 15px;
    }
  }
}

.job-task-result {
  .active {
    text-decoration: underline;
  }

  .mt10 { margin-top: 10px; }
  .mr10 { margin-right: 10px; }
  .mb10 { margin-bottom: 10px; }
  .ml10 { margin-left: 10px; }

  .success-btn {
    background: #87d068;
    color: #fff;
    border: 0 none;
    &:hover,&:active,&:focus {
      background: #449d44;
      color: #fff;
    }
  }
  .warning-btn {
    background: #f0ad4e;
    color: #fff;
    border: 0 none;
    &:hover,&:active,&:focus {
      background: #ec971f;
      color: #fff;
    }
  }
  .danger-btn {
    background: #d9534f;
    color: #fff;
    border: 0 none;
    &:hover,&:active,&:focus {
      background: #c9302c;
      color: #fff;
    }
  }
}
